.home-screen {
<<<<<<< Updated upstream
    position: relative; /* C’EST LA CLÉ POUR LA SYSTEMBAR */
=======
>>>>>>> Stashed changes
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
<<<<<<< Updated upstream
    overflow: hidden; /* pour éviter que la barre sorte */
=======
  }
  
  .App-title {
    font-size: 2rem;
    font-weight: var(--font-bold);
    color: var(--title-color);
  }
  
  .App-subtitle {
    font-size: 1.2rem;
    color: #ccc;
>>>>>>> Stashed changes
  }
  