.system-bar-trigger {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #444;
    color: white;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    z-index: 2;
  }
  
  .system-bar {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: white;
    padding: 10px 15px; /* <-- Ajout du padding horizontal */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s ease;
    z-index: 1;
    box-sizing: border-box; /* pour que le padding ne dépasse pas la largeur */
  }
  .system-bar > * {
    margin: 0 5px;
  }  
  
  .system-bar.open {
    top: 30px;
  }
  